
Flask==1.1.2
Flask-SocketIO==4.3.1
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
grequests==0.6.0
python-engineio==3.13.2
python-socketio==4.6.0
requests==2.22.0
sympy==1.7.1
Werkzeug==1.0.1
