attrs==19.3.0
beautifulsoup4==4.9.3
bidict==0.21.2
blinker==1.4
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
cloud-init==21.1
command-not-found==0.3
configobj==5.0.6
cryptography==2.8
dbus-python==1.2.16
dill==0.3.3
distro==1.4.0
distro-info===0.23ubuntu1
Flask==1.1.2
Flask-SocketIO==4.3.1
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
grequests==0.6.0
idna==2.8
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
klepto==0.2.0
language-selector==0.1
MarkupSafe==1.1.0
more-itertools==4.2.0
mpmath==1.1.0
mystic==0.3.7
netifaces==0.10.4
numpy==1.19.5
oauthlib==3.1.0
pox==0.2.9
PyGObject==3.36.0
PyJWT==1.7.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.4
python-engineio==3.13.2
python-socketio==4.6.0
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
soupsieve==2.2.1
ssh-import-id==5.10
sympy==1.7.1
ubuntu-advantage-tools==27.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
Werkzeug==1.0.1
zipp==1.0.0
zope.event==4.5.0
zope.interface==5.2.0
